---
import Layout from "../layouts/Layout.astro";
import experience from "../data/experience.json";
import CardExperience from "../components/CardExperience.astro";
---

<Layout title="Experience - Dicky Pratama">
	<section>
		<div class="container">
			<div class="content">
				{
					experience.map((item) => (
						<CardExperience
							position={item.position}
							company={item.company}
							location={item.location}
							tenure={item.tenure}
							tasks={item.tasks}
						/>
					))
				}
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
</style>
