---
// Import the layout as done earlier
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import projects from '../data/projects.json'

---

<Layout title="Projects - Dicky Pratama">
    <section>
        <div class="container">
            <div class="content">
                <div class="grid-container">
                    {
                        projects.map((item) => (
                            <Card
                                title={item.name}
                                description={item.description}
                                link_img={item.link_img}
                                link_pdf={item.link_pdf}
                                link_playstore={item.link_playstore}
                                tech_stack={item.tech_stack}
                                >
                            </Card>                        
                        ))
                    }
                </div>
            </div>
        </div>
    </section>
</Layout>


<style>
   <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .logo {
    position: absolute;
    width: 10px; /* Sesuaikan ukuran logo */
    height: auto;
}

    /* Responsif untuk layar kecil (max-width: 768px) */
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

    /* Responsif untuk layar sangat kecil (max-width: 480px) */
    @media (max-width: 480px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

</style>


