---
type Props = {
	position?: string
	company?: string
	location?: string
	tenure?: string
	tasks?: string[]
}

const { position, company, location, tenure, tasks} = Astro.props
---

<div class="card">
    <h2>{position}</h2>
<h3>{company} — {location}</h3>
<p>{tenure}</p>
<div class="grid">
    <ul>
        {
            tasks &&
            tasks.map((item) => (
                <li>{item}</li>
            ))
        }
    </ul>
</div>
</div>

<style>
    .card {
        background-color: #fff;
        border-radius: 10px;
		display: block;
		padding: 3rem;
		margin: 1rem 0;
		border: none;
		transition: background-color 0.5s ease-out;
	}
    .grid {
        margin-top: 8px;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}

    h3 {
		font-size: 1.5rem;
		margin-top: -1%;
	}
	ul {
		margin-left: 30px;
	}

    @media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}

    @media (prefers-color-scheme: dark) {
		.card:hover {
			background: #2a2a2a;
		}
	}
</style>